extends ../layouts/default

block css
      link(href="/styles/mediaelement/mediaelementplayer.min.css", rel="stylesheet")

block content
      .container: .jumbotron
            h1  欢迎!
            div(class="media-wrapper")
                  audio(src="/res/Cela.mp3"
                        class="mejs__player"
                        type="audio/mp3"
			 controls preload="auto"
			 width="100%")

block js
      script(src='/js/mediaelement/mediaelement-and-player.min.js')
