#app-alert(class=(system.mobile && system.ios ? "hidden" : null )).hidden-md.hidden-lg
	a(href='javascript:;').dismiss-alert.dismiss-alert-md.visible-md.visible-lg: span &times;
	.container: .row
		.col-sm-6.app-icon.col-xs-8
			a(href='javascript:;').dismiss-alert.dismiss-alert-xs.visible-xs.visible-sm: span &times;
			img(src='/images/app-icon.png', alt='app icon', title='app icon', width='64').visible-md.visible-lg
			img(src='/images/app-icon-android.png', alt='app icon', title='app icon', width='64').visible-xs.visible-sm
			.visible-md.visible-lg
				h5 The new Echoooo app is available 
				p.mb-0 Get the app and never miss another meetup again
			.visible-xs.visible-sm
				h5 Echoooo
				p.mb-0 Thinkmill


